#carrousel-container {
    position: relative;
    margin: 2rem auto;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    @media only screen and (max-width: 768px) {
        border-radius: 0;
        border-left: none;
        border-right: none;
    }
    height: 40vh;
    min-height: 300px;
}

.carrousel {
    display: flex;
    height: 100%;
    transition: transform 0.7s ease;
}

.carrousel-slide {
    position: relative;
    min-width: 100%;
    height: 100%;
    overflow: hidden;
}

.carrousel-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;

}



.carrousel-caption {
    position: absolute;
    bottom: 10px;
    left : 10px;
    padding: 0.5rem 1rem;
    background: rgba(0, 0, 0, 0.226);
    border-radius: 3px;
}

#carrousel-controls {
    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);

    // display: flex;
    // width: 100%;
    // justify-content: space-between;
}

#carrousel-controls button {
    color: white;
    background: none;
    font-size: 20px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;



}

#carrousel-controls .prev {
    margin-left: 10px;
}

#carrousel-controls .next {
    right: 0;
    margin-right: 10px;

}


#lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

#lightbox-img {
    width: 80%;
}

#lightbox .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* Ajustements responsive */
@media (max-width: 768px) {
  .carrousel-caption {
    font-size: 0.9rem;
    padding: 0.3rem 0.8rem;
  }
  .carrousel-controls button {
    padding: 0.3rem 0.8rem;
    font-size: 0.8rem;
  }
  #lightbox-img {
    width: 90%;
  }
}