<head>
  <link
    rel="stylesheet"
    href="<%=process.env.SITE_URL%>/assets/style/style.css"
  />
</head>

<i id="scroll-to-top" class="fas fa-arrow-up"></i>

<div id="reseaux">
  <div
    onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(window.location.href) + '&t=' + document.title, '_blank', 'width=600,height=400'); return false;"
  >
    <i id="facebook" class="fab fa-facebook-square"></i>
  </div>
  <div
    onclick="window.open('https://api.whatsapp.com/send?text=' + encodeURIComponent(document.title + ' ' + window.location.href), 'targetWindow', 'toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;"
  >
    <i id="whatsapp" class="fab fa-whatsapp"></i>
  </div>
  <div
    onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(window.location.href) + '&title=' + document.title, '_blank', 'width=600,height=400'); return false;"
  >
    <i id="linkedin" class="fab fa-linkedin"></i>
  </div>
</div>

<footer>
  &copy; <span class="year"></span> by
  <a href="<%= process.env.SITE_URL %>">My Crypto</a>
  <script>
    const footer_year = document.querySelectorAll(".year");
    footer_year.forEach((copyright) => {
      copyright.textContent = new Date().getFullYear();
    });
  </script>
</footer>
